#boxwrapper {
  width: 700px;
  height: 700px;
  margin: 100px auto;
}
.box {
  width: calc(100% / 10 - 10px);
  height: calc(100% / 10 - 10px);
  border: 1px solid black;
  margin: 5px;
}
.even {
  background-color: orange;
}
.odd {
  background-color: green;
}
