#boxwrapper {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}
.box {
  width: calc(100% / 10 - 10px);
  height: calc(100% / 10 - 10px);
  border: 1px solid black;
  margin: 5px;
}
.even {
  background-color: orange;
}
.odd {
  background-color: green;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://images.hdqwalls.com/wallpapers/digital-art-4d-rz.jpg);
}
